extends layout

block content
  h1= title

  ul
  each post in post_list
    li #{post.author}: #{post.content}

  else
    li There are no posts yet.

  h2 Submit New Post
  form(method='POST' action='/create')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='Your name' name='author')
            div.form-group
              label(for='content') Post text:
              input#content.form-control(type='text' name='content')
            button.btn.btn-primary(type='submit') Submit new post
  table
    tr#1
      td#1 x
      td#2 y
      td#3 x
      td#4 y
      td#5 x
    tr#2
      td#1 
      td#2 
      td#3
      td#4
      td#5
    tr#3
      td#1
      td#2
      td#3
      td#4
      td#5
    tr#4
      td#1
      td#2
      td#3
      td#4
      td#5
    tr#5
      td#1
      td#2
      td#3
      td#4
      td#5
